pre data-t-target="element" class="w-full" style="--rotateX: 0deg; --rotateY: 0deg;"
  div class="text-8xl font-[1000]" style="--bg-image: url(<%= asset_path('ttt/logodoodle.png') %>)"
    = image_tag "ttt/logodoodle.png", class: "w-full h-full"
