---
http_interactions:
- request:
    method: get
    uri: https://panel.sendcloud.sc/api/v2/shipping_methods/371?from_postal_code=12345&to_country=FR&to_postal_code=44000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NGU3YWZjOTEtNWI1Mi00ZjY2LTkzYjItMDdmYmUwMjgzNzgyOjA1OGJhMmNlZWQ1NDRhZWViZmQ4MzJjZDA1ODg4YTkx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"shipping_method":{"id":371,"name":"Colissimo Home 0-0.25kg","carrier":"colissimo","min_weight":"0.001","max_weight":"0.251","service_point_input":"none","price":0,"countries":[{"id":8,"name":"France","price":7.49,"iso_2":"FR","iso_3":"FRA","lead_time_hours":48,"price_breakdown":[{"type":"price_without_insurance","label":"Label","value":6.75},{"type":"fuel","label":"Fuel
        surcharge (10.95%)","value":0.74}]}]}}'
  recorded_at: Mon, 21 Jul 2025 14:22:18 GMT
recorded_with: VCR 6.2.0
