---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Tester+One&description=Test+customer&email=test%40testers.com
    headers:
      Authorization:
      - Bearer sk_test_51Oj6ehK6k0HoTq4wgaqab9mUFR4W1Doo41Ph5LgGd0jbGMLx48vk2Zhyv9rPdk6sXSvjAfKS8fhGWn8qgtouBnPt007vuGYOZq
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3143f1d0-b11e-49cc-b8b9-335873e9a9f4
      Original-Request:
      - req_IaLzvKLK9R2kgY
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-04-10'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Q6EayD16CH3rJj",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1715619161,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "Test customer",
          "discount": null,
          "email": "test@testers.com",
          "invoice_prefix": "DAC8720D",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Tester One",
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 13 May 2024 16:52:42 GMT
recorded_with: VCR 6.2.0
