= turbo_stream.replace @author, partial: "admin/authors/author", locals: { author: @author }
= turbo_stream.prepend "notifications" do
  = render(Notifications::Component.new(type: "success", data: {title: t(".title"), body: t(".success")}))
