.px-3.rounded.border.flex.text-sm.items-center.border-content.bg-form-input.transition-all.shadow-sm class="box-border h-8 hover:border-form-input hover:shadow-none"
  i.mr-2 class=(icon)
  span = label
