.px-3.rounded.border.flex.text-sm.items-center.border-content.bg-form-input.transition-all.shadow-sm class="box-border h-8 hover:border-form-input hover:shadow-none"
  i.sm:mr-2.mr-0 class=(icon)
  span.hidden.sm:block = label
