= simple_form_for [:admin, @order] do |field|
  = field.input :status, collection: Order::STATUSES.map {|status| [t(status), status]}, label: "Statut"
  = field.button :submit, "Enregistrer", class: "btn btn-primary"
