= turbo_frame_tag :orders, class: "table-row-group w-full relative" do

  = render EmptyFolder::Component.new(title: t("orders.empty_folder.title"), subtitle: t("orders.empty_folder.subtitle"))

  - orders.order(id: :desc).each do |order|
    = render "admin/orders/order", order: order
