= turbo_stream.prepend "notifications" do
  = render(Notifications::Component.new(type: "success", data: {title: "Effectué", body: "Contact bien effacé."}))
= turbo_stream.remove dom_id(@booking_contact)
