meta name="viewport" content="width=device-width,initial-scale=1"

title = meta_title
meta name="description" content="#{ meta_description }"
= favicon_link_tag "#{Current.store.slug}/favicon.png", rel: "icon", type: "image/png"


meta property="og:title" content="#{meta_title}"
meta property="og:type" content="website"
meta property="og:url" content="#{ request.original_url }"
meta property="og:image" content="#{ meta_image }"
meta property="og:description" content="#{ meta_description }"
meta property="og:site_name" content="#{ meta_title }"

= csrf_meta_tags
= csp_meta_tag
= stylesheet_link_tag "application", "data-turbo-track": "reload"
= javascript_include_tag "application", "data-turbo-track": "reload", defer: true
= tag :meta, name: :mapbox_token, content: Rails.application.credentials.mapbox.mapbox_api_key

link rel="preconnect" href="https://fonts.googleapis.com"
link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="true"

link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Belanosima:wght@400;600;700&family=Noto+Sans+KR:wght@300;400;700;900&family=Noto+Sans:wght@300;400;700;900&display=swap"
link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"

link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css"
link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css"
link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tom-select/2.1.0/css/tom-select.default.min.css" integrity="sha512-DQNtv2crByHeZUlhGc0L9RQ+qwSEUXo9b/dPgGR9vE9idEcj4j2jcBhCa8MiQYgL+rubYBOLKE/gUBoc/uROCw==" crossorigin="anonymous" referrerpolicy="no-referrer"
link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css"
link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css"

script src="https://unpkg.com/@popperjs/core@2"
script src="https://unpkg.com/tippy.js@6"
script src="https://kit.fontawesome.com/910f22a437.js" crossorigin="anonymous"
script src="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.js"
script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"
