<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Eerste contact - <%= @venue&.name || 'Uw zaal' %></h1>

  <p>Hallo <%= @contact.name %>,</p>

  <p>Wij nemen contact met u op om te informeren naar de beschikbaarheid van uw zaal voor de datum <strong><%= l(@booking.gig.date, format: :long) %></strong>.</p>

  <p>Kunt u ons laten weten of de zaal beschikbaar is?</p>

  <p>Voor vragen staan wij tot uw beschikking.</p>

  <p>Met vriendelijke groet,<br>
  Het booking team</p>
</body>
</html>
