' Booking#premier_contact
= "\r\n" * 2
' #{@greeting}, find me in app/views/booking_mailer/premier_contact.text.slim

Bonjour #{@contact.name},

Nous vous contactons pour organiser une date de concert au #{@venue.name}.

Merci de nous indiquer vos disponibilités ou toute information utile.

Cordialement,
L'équipe booking
