h1 Booking#premier_contact
p = "#{@greeting}, find me in app/views/booking_mailer/premier_contact.html.slim"

h2 Bonjour #{@contact.name},
p Nous vous contactons pour organiser une date de concert au strong= @venue.name
p Merci de nous indiquer vos disponibilités ou toute information utile.
p Cordialement,
br
| L'équipe booking
