h1 Merci pour ta commande !

p Nous vous confirmons la prise en charge de votre commande.
p Les délais de livraison sont de 3 à 5 jours ouvrés.

p N'hésites pas à me contacter si tu as le moindre soucis.

p A très vite !
