.max-w-5xl.mx-auto.flex.flex-col.items-center.md:flex-row.w-full.pt-12.mb-10
  .px-12.pt-6.md:pt-0 class="w-[90%]"
    = image_tag "#{Current.store.slug}/clemence.jpg", class: "object-contain rounded-lg overflow-hidden"
    p.text-gray-400.pt-3 Photo Le Cheveu Blanc par <a href="https://www.instagram.com/amelinevil/">Ameline Vildaer</a> Sept 2023
  .w-full.md:px-0.px-12.pt-6.md:pt-0.text-justify
    p.leading-7.pb-4
      | Je suis Clémence, <strong>illustratrice</strong> indépendante officiant à <strong>Nantes</strong> sous le pseudonyme Le Cheveu Blanc.
    p.leading-7.pb-4
      | Depuis 2019 je poste régulièrement sur Instagram des <strong>illustrations</strong> réalisées d’abord à l’encre, puis numériquement. Au départ comme une expression de mes <strong>prises de conscience féministes</strong>; puis petit à petit une <strong>dimension militante</strong> s’est imposée à ce projet.
    p.leading-7.pb-4
      | Après des études de design et de graphisme et une certaine quête de sens au travers de mon travail, ce projet d’illustration dans sa forme actuelle s’est construit avec l’apprentissage du <strong>dessin numérique</strong> en 2020. Par la suite j’ai eu la chance de collaborer avec divers médias engagés comme le Club Sexu, Yes We Ken ou Madmoizelle, de réaliser la communication du festival Les Femmes s’en Mêlent en 2022, ou encore de faire l’habillage du magazine Kostar de l’automne 2023.
    p.leading-7.pb-4
      | Je travaille autant pour l’<strong>édition</strong>, <strong>la presse</strong> ou <strong>le packaging</strong>, que pour des contenus numériques.
    p.leading-7.pb-4
      | Si vous souhaitez travailler avec moi n’hésitez pas à me contacter par <a href="mailto:hello@lecheveublanc.fr">e-mail</a>
    <p class="leading-7 pb-10">
      | Vous pouvez aussi suivre l’avancée de mes projets en cours sur mon compte <a href="https://www.instagram.com/le_cheveu_blanc/">Instragram</a>
div.w-full.flex.justify-center
  a href="mailto:hello@lecheveublanc.fr" class="btn btn-primary" Me contacter
