.relative data-controller="autosave"
  = render ShippingMethod::Component.new(field: field, shipping_method: method)
  .hidden = field.submit "Select volume", formmethod: "post", formaction: shipping_method_checkout_path(id: field.object), data: { "autosave-target": "button" }
