= turbo_frame_tag :collections, class: "table-row-group w-full relative" do

  = render EmptyFolder::Component.new(title: t("collections.empty_folder.title"), subtitle: t("collections.empty_folder.subtitle"))

  - collections.order(:name).each do |collection|
    = render "collection", collection: collection
