= simple_form_for [:admin, @store, @category], html: { class: "flex items-center" } do |field|
  = field.input :name, label: "Nom", placeholder: "Nom", wrapper_html: { class: "pt-[20px] mr-2" }, label_html: { class: "mt-[20px]" }
  = button_tag type: :submit do
    i.fa-solid.fa-check.btn.btn-primary
