@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'actiontext.css';

@layer base {
  @font-face {
    font-family: 'Avenir';
    src: url('Avenir-Roman.eot');
    src: local('Avenir Roman'), local('Avenir-Roman'),
        url('Avenir-Roman.eot?#iefix') format('embedded-opentype'),
        url('Avenir-Roman.woff2') format('woff2'),
        url('Avenir-Roman.woff') format('woff'),
        url('Avenir-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
      font-family: 'Avenir';
      src: url('Avenir-Light.eot');
      src: local('Avenir Light'), local('Avenir-Light'),
          url('Avenir-Light.eot?#iefix') format('embedded-opentype'),
          url('Avenir-Light.woff2') format('woff2'),
          url('Avenir-Light.woff') format('woff'),
          url('Avenir-Light.ttf') format('truetype');
      font-weight: 300;
      font-style: normal;
  }

  @font-face {
      font-family: 'Avenir Book';
      src: url('Avenir-BookOblique.eot');
      src: local('Avenir Book Oblique'), local('Avenir-BookOblique'),
          url('Avenir-BookOblique.eot?#iefix') format('embedded-opentype'),
          url('Avenir-BookOblique.woff2') format('woff2'),
          url('Avenir-BookOblique.woff') format('woff'),
          url('Avenir-BookOblique.ttf') format('truetype');
      font-weight: normal;
      font-style: italic;
  }

  @font-face {
      font-family: 'Avenir Black Oblique';
      src: url('Avenir-BlackOblique.eot');
      src: local('Avenir Black Oblique'), local('Avenir-BlackOblique'),
          url('Avenir-BlackOblique.eot?#iefix') format('embedded-opentype'),
          url('Avenir-BlackOblique.woff2') format('woff2'),
          url('Avenir-BlackOblique.woff') format('woff'),
          url('Avenir-BlackOblique.ttf') format('truetype');
      font-weight: 900;
      font-style: italic;
  }

  @font-face {
      font-family: 'Avenir';
      src: url('Avenir-Heavy.eot');
      src: local('Avenir Heavy'), local('Avenir-Heavy'),
          url('Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
          url('Avenir-Heavy.woff2') format('woff2'),
          url('Avenir-Heavy.woff') format('woff'),
          url('Avenir-Heavy.ttf') format('truetype');
      font-weight: 900;
      font-style: normal;
  }

  @font-face {
      font-family: 'Avenir';
      src: url('Avenir-HeavyOblique.eot');
      src: local('Avenir Heavy Oblique'), local('Avenir-HeavyOblique'),
          url('Avenir-HeavyOblique.eot?#iefix') format('embedded-opentype'),
          url('Avenir-HeavyOblique.woff2') format('woff2'),
          url('Avenir-HeavyOblique.woff') format('woff'),
          url('Avenir-HeavyOblique.ttf') format('truetype');
      font-weight: 900;
      font-style: italic;
  }

  @font-face {
      font-family: 'Avenir';
      src: url('Avenir-MediumOblique.eot');
      src: local('Avenir Medium Oblique'), local('Avenir-MediumOblique'),
          url('Avenir-MediumOblique.eot?#iefix') format('embedded-opentype'),
          url('Avenir-MediumOblique.woff2') format('woff2'),
          url('Avenir-MediumOblique.woff') format('woff'),
          url('Avenir-MediumOblique.ttf') format('truetype');
      font-weight: 500;
      font-style: italic;
  }

  @font-face {
      font-family: 'Avenir';
      src: url('Avenir-LightOblique.eot');
      src: local('Avenir Light Oblique'), local('Avenir-LightOblique'),
          url('Avenir-LightOblique.eot?#iefix') format('embedded-opentype'),
          url('Avenir-LightOblique.woff2') format('woff2'),
          url('Avenir-LightOblique.woff') format('woff'),
          url('Avenir-LightOblique.ttf') format('truetype');
      font-weight: 300;
      font-style: italic;
  }

  @font-face {
      font-family: 'Avenir Book';
      src: url('Avenir-Book.eot');
      src: local('Avenir Book'), local('Avenir-Book'),
          url('Avenir-Book.eot?#iefix') format('embedded-opentype'),
          url('Avenir-Book.woff2') format('woff2'),
          url('Avenir-Book.woff') format('woff'),
          url('Avenir-Book.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'Avenir';
      src: url('Avenir-Black.eot');
      src: local('Avenir Black'), local('Avenir-Black'),
          url('Avenir-Black.eot?#iefix') format('embedded-opentype'),
          url('Avenir-Black.woff2') format('woff2'),
          url('Avenir-Black.woff') format('woff'),
          url('Avenir-Black.ttf') format('truetype');
      font-weight: 900;
      font-style: normal;
  }

  @font-face {
      font-family: 'Avenir';
      src: url('Avenir-Oblique.eot');
      src: local('Avenir Oblique'), local('Avenir-Oblique'),
          url('Avenir-Oblique.eot?#iefix') format('embedded-opentype'),
          url('Avenir-Oblique.woff2') format('woff2'),
          url('Avenir-Oblique.woff') format('woff'),
          url('Avenir-Oblique.ttf') format('truetype');
      font-weight: normal;
      font-style: italic;
  }

  @font-face {
      font-family: 'Avenir';
      src: url('Avenir-Medium.eot');
      src: local('Avenir Medium'), local('Avenir-Medium'),
          url('Avenir-Medium.eot?#iefix') format('embedded-opentype'),
          url('Avenir-Medium.woff2') format('woff2'),
          url('Avenir-Medium.woff') format('woff'),
          url('Avenir-Medium.ttf') format('truetype');
      font-weight: 500;
      font-style: normal;
  }




  @font-face {
      font-family: 'Scandia';
      src: font-url('fonts/Scandia-RegularItalic.eot');
      src: local('Scandia Regular Italic'), local('Scandia-RegularItalic'),
          font-url('fonts/Scandia-RegularItalic.eot?#iefix') format('embedded-opentype'),
          font-url('fonts/Scandia-RegularItalic.woff2') format('woff2'),
          font-url('fonts/Scandia-RegularItalic.woff') format('woff'),
          font-url('fonts/Scandia-RegularItalic.ttf') format('truetype');
      font-weight: normal;
      font-style: italic;
  }

  @font-face {
      font-family: 'Scandia';
      src: font-url('fonts/Scandia-Light.eot');
      src: local('Scandia Light'), local('Scandia-Light'),
          font-url('fonts/Scandia-Light.eot?#iefix') format('embedded-opentype'),
          font-url('fonts/Scandia-Light.woff2') format('woff2'),
          font-url('fonts/Scandia-Light.woff') format('woff'),
          font-url('fonts/Scandia-Light.ttf') format('truetype');
      font-weight: 300;
      font-style: normal;
  }

  @font-face {
      font-family: 'Scandia';
      src: font-url('fonts/Scandia-BoldItalic.eot');
      src: local('Scandia Bold Italic'), local('Scandia-BoldItalic'),
          font-url('fonts/Scandia-BoldItalic.eot?#iefix') format('embedded-opentype'),
          font-url('fonts/Scandia-BoldItalic.woff2') format('woff2'),
          font-url('fonts/Scandia-BoldItalic.woff') format('woff'),
          font-url('fonts/Scandia-BoldItalic.ttf') format('truetype');
      font-weight: bold;
      font-style: italic;
  }

  @font-face {
      font-family: 'Scandia Line';
      src: font-url('fonts/ScandiaLine-Bold.eot');
      src: local('Scandia Line Bold'), local('ScandiaLine-Bold'),
          font-url('fonts/ScandiaLine-Bold.eot?#iefix') format('embedded-opentype'),
          font-url('fonts/ScandiaLine-Bold.woff2') format('woff2'),
          font-url('fonts/ScandiaLine-Bold.woff') format('woff'),
          font-url('fonts/ScandiaLine-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
  }

  @font-face {
      font-family: 'Scandia Line';
      src: font-url('fonts/ScandiaLine-Light.eot');
      src: local('Scandia Line Light'), local('ScandiaLine-Light'),
          font-url('fonts/ScandiaLine-Light.eot?#iefix') format('embedded-opentype'),
          font-url('fonts/ScandiaLine-Light.woff2') format('woff2'),
          font-url('fonts/ScandiaLine-Light.woff') format('woff'),
          font-url('fonts/ScandiaLine-Light.ttf') format('truetype');
      font-weight: 300;
      font-style: normal;
  }

  @font-face {
      font-family: 'Scandia Stencil';
      src: font-url('fonts/Scandia-Stencil.eot');
      src: local('Scandia Stencil'), local('Scandia-Stencil'),
          font-url('fonts/Scandia-Stencil.eot?#iefix') format('embedded-opentype'),
          font-url('fonts/Scandia-Stencil.woff2') format('woff2'),
          font-url('fonts/Scandia-Stencil.woff') format('woff'),
          font-url('fonts/Scandia-Stencil.ttf') format('truetype');
      font-weight: 900;
      font-style: normal;
  }

  @font-face {
      font-family: 'Scandia';
      src: font-url('fonts/Scandia-Medium.eot');
      src: local('Scandia Medium'), local('Scandia-Medium'),
          font-url('fonts/Scandia-Medium.eot?#iefix') format('embedded-opentype'),
          font-url('fonts/Scandia-Medium.woff2') format('woff2'),
          font-url('fonts/Scandia-Medium.woff') format('woff'),
          font-url('fonts/Scandia-Medium.ttf') format('truetype');
      font-weight: 500;
      font-style: normal;
  }

  @font-face {
      font-family: 'Scandia';
      src: font-url('fonts/Scandia-LightItalic.eot');
      src: local('Scandia Light Italic'), local('Scandia-LightItalic'),
          font-url('fonts/Scandia-LightItalic.eot?#iefix') format('embedded-opentype'),
          font-url('fonts/Scandia-LightItalic.woff2') format('woff2'),
          font-url('fonts/Scandia-LightItalic.woff') format('woff'),
          font-url('fonts/Scandia-LightItalic.ttf') format('truetype');
      font-weight: 300;
      font-style: italic;
  }

  @font-face {
      font-family: 'Scandia Line';
      src: font-url('fonts/ScandiaLine-Medium.eot');
      src: local('Scandia Line Medium'), local('ScandiaLine-Medium'),
          font-url('fonts/ScandiaLine-Medium.eot?#iefix') format('embedded-opentype'),
          font-url('fonts/ScandiaLine-Medium.woff2') format('woff2'),
          font-url('fonts/ScandiaLine-Medium.woff') format('woff'),
          font-url('fonts/ScandiaLine-Medium.ttf') format('truetype');
      font-weight: 500;
      font-style: normal;
  }

  @font-face {
      font-family: 'Scandia';
      src: font-url('fonts/Scandia-MediumItalic.eot');
      src: local('Scandia Medium Italic'), local('Scandia-MediumItalic'),
          font-url('fonts/Scandia-MediumItalic.eot?#iefix') format('embedded-opentype'),
          font-url('fonts/Scandia-MediumItalic.woff2') format('woff2'),
          font-url('fonts/Scandia-MediumItalic.woff') format('woff'),
          font-url('fonts/Scandia-MediumItalic.ttf') format('truetype');
      font-weight: 500;
      font-style: italic;
  }

  @font-face {
      font-family: 'Scandia Line Stencil';
      src: font-url('fonts/ScandiaLine-Stencil.eot');
      src: local('Scandia Line Stencil'), local('ScandiaLine-Stencil'),
          font-url('fonts/ScandiaLine-Stencil.eot?#iefix') format('embedded-opentype'),
          font-url('fonts/ScandiaLine-Stencil.woff2') format('woff2'),
          font-url('fonts/ScandiaLine-Stencil.woff') format('woff'),
          font-url('fonts/ScandiaLine-Stencil.ttf') format('truetype');
      font-weight: 900;
      font-style: normal;
  }

  @font-face {
      font-family: 'Scandia Line';
      src: font-url('fonts/ScandiaLine-Regular.eot');
      src: local('Scandia Line Regular'), local('ScandiaLine-Regular'),
          font-url('fonts/ScandiaLine-Regular.eot?#iefix') format('embedded-opentype'),
          font-url('fonts/ScandiaLine-Regular.woff2') format('woff2'),
          font-url('fonts/ScandiaLine-Regular.woff') format('woff'),
          font-url('fonts/ScandiaLine-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'Scandia';
      src: font-url('fonts/Scandia-Bold.eot');
      src: local('Scandia Bold'), local('Scandia-Bold'),
          font-url('fonts/Scandia-Bold.eot?#iefix') format('embedded-opentype'),
          font-url('fonts/Scandia-Bold.woff2') format('woff2'),
          font-url('fonts/Scandia-Bold.woff') format('woff'),
          font-url('fonts/Scandia-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
  }

  @font-face {
      font-family: 'Scandia';
      src: font-url('fonts/Scandia-Regular.eot');
      src: local('Scandia Regular'), local('Scandia-Regular'),
          font-url('fonts/Scandia-Regular.eot?#iefix') format('embedded-opentype'),
          font-url('fonts/Scandia-Regular.woff2') format('woff2'),
          font-url('fonts/Scandia-Regular.woff') format('woff'),
          font-url('fonts/Scandia-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }



  :root {
    --color-primary: 8, 75, 131; /* #084B83 */
    --color-secondary: 213, 185, 66; /* #D5B942 */
    --color-light: 250, 250, 255; /* #FAFAFF */
    --color-contrast: 55, 9, 38; /* #370926 */
    --color-midgray: 110, 132, 139;
    --color-content: 124, 152, 179;
    --color-contour: 238, 240, 242; /* #EEF0F2 */
    --color-form-input: 255, 255, 255; /* #FFFFFF */
  }

  .lecheveublanc {
    --color-primary: 139, 128, 249;
    --color-secondary: 97, 201, 168;
    --color-light: 249, 244, 245;
    --color-contrast: 47, 47, 47;
    --color-midgray: 121, 121, 121;
    --color-content: 200, 200, 200;
    --color-contour: 248, 248, 248;
    --color-form-input: 255, 255, 255;
  }

  .unsafe {
    --color-primary: 255, 51, 51;
    --color-secondary: 11, 79, 108;
    --color-light: 4, 15, 22;
    --color-contrast: 237, 242, 250;
    --color-midgray: 141, 153, 174;
    --color-content: 125, 125, 125;
    --color-contour: 35, 35, 43;
    --color-form-input: 35, 35, 35;
  }
  .anemone {
    --color-primary: 136, 180, 180;
    --color-secondary: 72, 61, 63;
    --color-light: 240, 240, 240;
    --color-contrast: 47, 47, 47;
    --color-midgray: 121, 121, 121;
    --color-content: 200, 200, 200;
    --color-contour: 238, 238, 238;
    --color-form-input: 255, 255, 255;
  }

  .kenjosset {
    --color-primary: 135, 140, 115; /* #878C73 */
    --color-secondary: 72, 61, 63;
    --color-light: 240, 241, 238; /* #F0F1EE */
    --color-contrast: 79, 72, 67; /* #4F4843 */
    --color-midgray: 121, 121, 121;
    --color-content: 200, 200, 200;
    --color-contour: 238, 238, 238;
    --color-form-input: 255, 255, 255;
  }

  .ttt {
    --color-primary: 255, 77, 196; /* #FF4DC4 */
    --color-secondary: 48, 115, 81; /* #307351 */
    --color-light: 232, 235, 247; /* #E8EBEF */
    --color-contrast: 2, 2, 2; /* #020202 */
    --color-midgray: 113, 124, 137; /* #717 */
    --color-content: 187, 214, 134; /* #BBD686 */
    --color-contour: 238, 238, 238;
    --color-form-input: 255, 255, 255;
  }

  .mapboxgl-ctrl-geocoder {
    width: 100% !important;
    max-width: none !important;
  }

  /* Toutes les cell */
  .table-cell {
    @apply px-2 py-3 text-sm text-left truncate align-middle border-b last:overflow-visible text-midgray;
  }

  /* Toutes les header cells */
  .table-header-group .table-row .table-cell {
    @apply border-b-2 border-content bg-contour text-contrast;
  }

  /* Toutes les data rows */
  .table-row-group .table-row {
    @apply bg-form-input hover:bg-contour/10;
  }

  .table {
    @apply overflow-hidden rounded-lg;
  }

}

@layer components {

  .disabled {
    @apply opacity-50;
  }

  .trix-content {
    @apply bg-form-input;
  }

  .btn {
    @apply px-3 py-2 cursor-pointer;
  }

  .btn-menu {
    @apply font-bold transition-all bg-transparent cursor-pointer text-contrast hover:scale-95;
  }

  .btn-primary {
    @apply font-bold transition-all rounded-md cursor-pointer bg-primary text-light hover:scale-95;
  }

  .btn-secondary {
    @apply font-bold transition-all rounded-md cursor-pointer bg-secondary text-light hover:scale-95;
  }

  .btn-link {
    @apply text-xl tracking-wider transition-all text-contrast hover:text-primary;
  }

  .btn-neutral {
    @apply rounded-md bg-form-input px-2.5 py-1.5 text-sm font-semibold text-contrast shadow-sm ring-1 ring-inset ring-midgray hover:bg-light
  }

  /* ______________________________KENJOSSET______________________________ */
  .kenjosset .btn-link {
    @apply text-xl tracking-wider hover:text-contrast px-2 relative transition-all text-primary after:content-[''] after:block after:w-full after:h-[0.2rem] after:bg-primary hover:after:bg-contrast after:transition-all after:duration-200 after:right-0 after:absolute after:bottom-0;
  }

  .kenjosset .btn-mobile-link {
    @apply text-xl tracking-wider hover:text-contrast px-2 relative transition-all text-primary after:content-[''] after:block after:w-full after:h-[0.3rem] after:bg-primary hover:after:bg-contrast after:transition-all after:duration-200 after:right-0 after:absolute after:-bottom-1;
  }

  /* ______________________________TTT______________________________ */

  .ttt .btn-primary {
    @apply font-bold transition-all rounded-md cursor-pointer bg-primary text-light hover:scale-95;
  }

  .ttt .btn-link {
    @apply relative px-6 py-2 text-lg tracking-wide uppercase transition-all border border-midgray text-contour hover:text-primary;
  }

  .ttt .btn-mobile-link {
    @apply relative px-2 text-xl tracking-wider transition-all hover:text-contrast text-primary;
  }

  .ttt .btn-sublink {
    @apply tracking-wider uppercase transition-all text-contour hover:text-contrast hover:translate-x-3;
  }

  /* ______________________________TTT______________________________ */


  /* Floating Label CSS */
  .form-group {
    @apply relative w-full mb-5;
  }

  .form-input {
    @apply block w-full px-3 py-2 placeholder-transparent border rounded-md appearance-none !bg-form-input text-contrast border-content focus:outline-none focus:ring-secondary focus:border-secondary;
    @apply transition-all duration-200;
    @apply z-40; /* Ajoutez cette ligne pour définir le z-index du champ de saisie */
  }

  .floating-label {
    @apply absolute top-2.5 left-0 py-0 px-3 pointer-events-none transform-gpu transition-all duration-200 ease-in-out text-content;
    @apply transform ;
    @apply z-0; /* Modifiez cette ligne pour ajouter un z-index au label */
  }

  .form-input:focus ~ .floating-label,
  .form-input:not(:placeholder-shown) ~ .floating-label {
    @apply scale-75 -translate-y-6 border rounded-full transform-gpu text-contrast bg-form-input border-secondary;
  }

  .has-error .form-input {
    @apply border-red-500 focus:ring-red-500 focus:border-red-500;
  }

  .error {
    @apply mt-1 text-sm text-red-600;
  }

  .hint {
    @apply mt-1 text-sm text-content;
  }

  .spinner {
    @apply relative inline-block w-full align-middle border-none cursor-pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .spinner:after {
    @apply absolute block w-12 transition-transform duration-200 text-contrast animate-spin;
    content: "\f110";
    font-family: "Font Awesome 6 Pro";
    display: inline-block;
    vertical-align: middle;
    font-weight:900;
  }

  /* TEST */

  .gradient-blur {
    position: fixed;
    z-index: 5;
    inset: 0 0 auto 0;
    height: 65%;
    pointer-events: none;
    }
  .gradient-blur > div,
  .gradient-blur::before,
  .gradient-blur::after {
      position: absolute;
    inset: 0;
    }

  .gradient-blur::after {
    content: "";
    z-index: 8;
    backdrop-filter: blur(0.25px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 12.5%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 0) 37.5%
    );
  }
  .gradient-blur > div:nth-of-type(6) {
    z-index: 7;
    backdrop-filter: blur(0.5px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 12.5%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 1) 37.5%,
      rgba(0, 0, 0, 0) 50%
    );
  }
  .gradient-blur > div:nth-of-type(5) {
    z-index: 6;
    backdrop-filter: blur(0.75px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 1) 37.5%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 62.5%
    );
  }
  .gradient-blur > div:nth-of-type(4) {
    z-index: 5;
    backdrop-filter: blur(1px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 37.5%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 62.5%,
      rgba(0, 0, 0, 0) 75%
    );
  }
  .gradient-blur > div:nth-of-type(3) {
    z-index: 4;
    backdrop-filter: blur(1.5px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 62.5%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 0) 87.5%
    );
  }
  .gradient-blur > div:nth-of-type(2) {
    z-index: 3;
    backdrop-filter: blur(2px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 62.5%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 1) 87.5%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .gradient-blur > div:nth-of-type(1) {
    z-index: 2;
    backdrop-filter: blur(3px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 1) 87.5%,
      rgba(0, 0, 0, 1) 100%
    );
  }
  .gradient-blur::before {
    content: "";
    z-index: 1;
    backdrop-filter: blur(4px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 87.5%,
      rgba(0, 0, 0, 1) 100%
    );
  }


   /* PAGY */

  .pagy {
    @apply flex justify-center text-sm font-semibold divide-x text-content;
    .page {
      a {
        @apply block px-3 py-1 bg-midgray;
        &:hover {
          @apply bg-midgray;
        }
      }
      &.active a {
        @apply cursor-default text-form-input bg-secondary;
      }
      &.disabled a {
        @apply cursor-default bg-midgray text-contour;
      }
      &.gap { }
    }
    .pagy-combo-input, &.pagy-items-selector-js {
      @apply inline-block whitespace-nowrap bg-midgray rounded-lg px-3 py-0.5;
      input {
        @apply border-none rounded-md bg-midgray;
      }
    }
  }
}
