@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'actiontext.css';

@font-face {
  font-family: "avenir_libre";
  font-weight: bold;
  src: font-url("avenir_libre.tff") format("tff");
}

@layer base {

  @font-face {
    font-family: "Avenir libre";
    src: font-url("avenir_libre.ttf") format('truetype');
  }
  @font-face {
    font-family: "Avenir lourd";
    src: font-url("avenir_lourd.ttf") format('truetype');
  }

  :root {
    --color-primary: 83, 107, 120;
    --color-secondary: 221, 198, 123;
    --color-light: 236, 239, 242;
    --color-contrast: 47, 47, 47;
    --color-midgray: 110, 132, 139;
    --color-content: 124, 152, 179;
    --color-contour: 172, 203, 225;
    --color-form-input: 255, 255, 255;
  }

  .lecheveublanc {
    --color-primary: 139, 128, 249;
    --color-secondary: 97, 201, 168;
    --color-light: 249, 244, 245;
    --color-contrast: 47, 47, 47;
    --color-midgray: 121, 121, 121;
    --color-content: 200, 200, 200;
    --color-contour: 238, 238, 238;
    --color-form-input: 255, 255, 255;
  }

  .unsafe {
    --color-primary: 255, 51, 51;
    --color-secondary: 11, 79, 108;
    --color-light: 4, 15, 22;
    --color-contrast: 237, 242, 250;
    --color-midgray: 141, 153, 174;
    --color-content: 125, 125, 125;
    --color-contour: 35, 35, 43;
    --color-form-input: 35, 35, 35;
  }
  .anemone {
    --color-primary: 136, 180, 180;
    --color-secondary: 72, 61, 63;
    --color-light: 240, 240, 240;
    --color-contrast: 47, 47, 47;
    --color-midgray: 121, 121, 121;
    --color-content: 200, 200, 200;
    --color-contour: 238, 238, 238;
    --color-form-input: 255, 255, 255;
  }

  .mapboxgl-ctrl-geocoder {
    width: 100% !important;
    max-width: none !important;
  }
}

@layer components {

  /* Custom CSS */
  .disabled {
    @apply opacity-50;
  }

  .trix-content {
    @apply bg-form-input;
  }
  /* Btn CSS */
  .btn {
    @apply px-3 py-2;
  }

  .btn-menu {
    @apply font-bold transition-all bg-transparent cursor-pointer text-contrast hover:scale-95;
  }

  .btn-primary {
    @apply font-bold transition-all rounded-md cursor-pointer bg-primary text-light hover:scale-95;
  }

  .btn-secondary {
    @apply font-bold transition-all rounded-md cursor-pointer bg-secondary text-light hover:scale-95;
  }

  .btn-link {
    @apply text-xl tracking-wider transition-all text-contrast hover:text-primary;
  }

  /* Floating Label CSS */
  .form-group {
    @apply relative w-full mb-5;
  }

  .form-input {
    @apply block w-full px-3 py-2 placeholder-transparent border rounded-md appearance-none !bg-form-input text-contrast border-content focus:outline-none focus:ring-secondary focus:border-secondary;
    @apply transition-all duration-200;
    @apply z-40; /* Ajoutez cette ligne pour définir le z-index du champ de saisie */
  }

  .floating-label {
    @apply absolute top-2.5 left-0 py-0 px-3 pointer-events-none transform-gpu transition-all duration-200 ease-in-out text-content;
    @apply transform ;
    @apply z-0; /* Modifiez cette ligne pour ajouter un z-index au label */
  }

  .form-input:focus ~ .floating-label,
  .form-input:not(:placeholder-shown) ~ .floating-label {
    @apply scale-75 -translate-y-6 border rounded-full transform-gpu text-contrast bg-form-input border-secondary;
  }

  .has-error .form-input {
    @apply border-red-500 focus:ring-red-500 focus:border-red-500;
  }

  .error {
    @apply mt-1 text-sm text-red-600;
  }

  .hint {
    @apply mt-1 text-sm text-content;
  }

  .spinner {
    @apply relative inline-block w-full align-middle border-none cursor-pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .spinner:after {
    @apply absolute block w-12 transition-transform duration-200 text-contrast animate-spin;
    content: "\f110";
    font-family: "Font Awesome 6 Pro";
    display: inline-block;
    vertical-align: middle;
    font-weight:900;
  }
}
