@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'actiontext.css';

@layer base {

  @font-face {
    font-family: Scandia Regular;
    font-weight: normal;
    font-style: normal;
    src: font-url("scandia/Scandia-Regular.otf") format("otf");
    font-display: swap;
  }

  @font-face {
    font-family: Scandia Medium;
    font-weight: bold;
    src: font-url("scandia/Scandia-Medium.otf") format("otf");
    font-display: swap;
  }

  :root {
    --color-primary: 8, 75, 131; /* #084B83 */
    --color-secondary: 213, 185, 66; /* #D5B942 */
    --color-light: 250, 250, 255; /* #FAFAFF */
    --color-contrast: 55, 9, 38; /* #370926 */
    --color-midgray: 110, 132, 139;
    --color-content: 124, 152, 179;
    --color-contour: 238, 240, 242; /* #EEF0F2 */
    --color-form-input: 255, 255, 255; /* #FFFFFF */
  }

  .lecheveublanc {
    --color-primary: 139, 128, 249;
    --color-secondary: 97, 201, 168;
    --color-light: 249, 244, 245;
    --color-contrast: 47, 47, 47;
    --color-midgray: 121, 121, 121;
    --color-content: 200, 200, 200;
    --color-contour: 248, 248, 248;
    --color-form-input: 255, 255, 255;
  }

  .unsafe {
    --color-primary: 255, 51, 51;
    --color-secondary: 11, 79, 108;
    --color-light: 4, 15, 22;
    --color-contrast: 237, 242, 250;
    --color-midgray: 141, 153, 174;
    --color-content: 125, 125, 125;
    --color-contour: 35, 35, 43;
    --color-form-input: 35, 35, 35;
  }
  .anemone {
    --color-primary: 136, 180, 180;
    --color-secondary: 72, 61, 63;
    --color-light: 240, 240, 240;
    --color-contrast: 47, 47, 47;
    --color-midgray: 121, 121, 121;
    --color-content: 200, 200, 200;
    --color-contour: 238, 238, 238;
    --color-form-input: 255, 255, 255;
  }

  .kenjosset {
    --color-primary: 135, 140, 115; /* #878C73 */
    --color-secondary: 72, 61, 63;
    --color-light: 240, 241, 238; /* #F0F1EE */
    --color-contrast: 79, 72, 67; /* #4F4843 */
    --color-midgray: 121, 121, 121;
    --color-content: 200, 200, 200;
    --color-contour: 238, 238, 238;
    --color-form-input: 255, 255, 255;
  }

  .mapboxgl-ctrl-geocoder {
    width: 100% !important;
    max-width: none !important;
  }

  /* Toutes les cell */
  .table-cell {
    @apply px-2 py-3 text-sm text-left truncate align-middle border-b last:overflow-visible text-midgray;
  }

  /* Toutes les header cells */
  .table-header-group .table-row .table-cell {
    @apply border-b-2 border-content bg-contour text-contrast;
  }

  /* Toutes les data rows */
  .table-row-group .table-row {
    @apply bg-form-input hover:bg-contour/10;
  }

  .table {
    @apply overflow-hidden rounded-lg;
  }

}

@layer components {

  /* Custom CSS */
  .disabled {
    @apply opacity-50;
  }

  .trix-content {
    @apply bg-form-input;
  }
  /* Btn CSS */
  .btn {
    @apply px-3 py-2;
  }

  .btn-menu {
    @apply font-bold transition-all bg-transparent cursor-pointer text-contrast hover:scale-95;
  }

  .btn-primary {
    @apply font-bold transition-all rounded-md cursor-pointer bg-primary text-light hover:scale-95;
  }

  .btn-secondary {
    @apply font-bold transition-all rounded-md cursor-pointer bg-secondary text-light hover:scale-95;
  }

  .btn-link {
    @apply text-xl tracking-wider transition-all text-contrast hover:text-primary;
  }

  .kenjosset .btn-link {
    @apply text-xl tracking-wider hover:pl-0 hover:pr-4 px-2 relative transition-all text-primary after:content-[''] after:block after:w-full after:h-[0.2rem] after:bg-primary after:transition-all after:duration-200 after:right-0 after:absolute after:bottom-0;
  }

  /* Floating Label CSS */
  .form-group {
    @apply relative w-full mb-5;
  }

  .form-input {
    @apply block w-full px-3 py-2 placeholder-transparent border rounded-md appearance-none !bg-form-input text-contrast border-content focus:outline-none focus:ring-secondary focus:border-secondary;
    @apply transition-all duration-200;
    @apply z-40; /* Ajoutez cette ligne pour définir le z-index du champ de saisie */
  }

  .floating-label {
    @apply absolute top-2.5 left-0 py-0 px-3 pointer-events-none transform-gpu transition-all duration-200 ease-in-out text-content;
    @apply transform ;
    @apply z-0; /* Modifiez cette ligne pour ajouter un z-index au label */
  }

  .form-input:focus ~ .floating-label,
  .form-input:not(:placeholder-shown) ~ .floating-label {
    @apply scale-75 -translate-y-6 border rounded-full transform-gpu text-contrast bg-form-input border-secondary;
  }

  .has-error .form-input {
    @apply border-red-500 focus:ring-red-500 focus:border-red-500;
  }

  .error {
    @apply mt-1 text-sm text-red-600;
  }

  .hint {
    @apply mt-1 text-sm text-content;
  }

  .spinner {
    @apply relative inline-block w-full align-middle border-none cursor-pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .spinner:after {
    @apply absolute block w-12 transition-transform duration-200 text-contrast animate-spin;
    content: "\f110";
    font-family: "Font Awesome 6 Pro";
    display: inline-block;
    vertical-align: middle;
    font-weight:900;
  }

  /* TEST */

  .gradient-blur {
    position: fixed;
    z-index: 5;
    inset: 0 0 auto 0;
    height: 65%;
    pointer-events: none;
    }
  .gradient-blur > div,
  .gradient-blur::before,
  .gradient-blur::after {
      position: absolute;
    inset: 0;
    }

  .gradient-blur::after {
    content: "";
    z-index: 8;
    backdrop-filter: blur(0.25px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 12.5%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 0) 37.5%
    );
  }
  .gradient-blur > div:nth-of-type(6) {
    z-index: 7;
    backdrop-filter: blur(0.5px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 12.5%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 1) 37.5%,
      rgba(0, 0, 0, 0) 50%
    );
  }
  .gradient-blur > div:nth-of-type(5) {
    z-index: 6;
    backdrop-filter: blur(0.75px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 1) 37.5%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 62.5%
    );
  }
  .gradient-blur > div:nth-of-type(4) {
    z-index: 5;
    backdrop-filter: blur(1px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 37.5%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 62.5%,
      rgba(0, 0, 0, 0) 75%
    );
  }
  .gradient-blur > div:nth-of-type(3) {
    z-index: 4;
    backdrop-filter: blur(1.5px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 62.5%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 0) 87.5%
    );
  }
  .gradient-blur > div:nth-of-type(2) {
    z-index: 3;
    backdrop-filter: blur(2px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 62.5%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 1) 87.5%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .gradient-blur > div:nth-of-type(1) {
    z-index: 2;
    backdrop-filter: blur(3px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 1) 87.5%,
      rgba(0, 0, 0, 1) 100%
    );
  }
  .gradient-blur::before {
    content: "";
    z-index: 1;
    backdrop-filter: blur(4px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 87.5%,
      rgba(0, 0, 0, 1) 100%
    );
  }


   /* PAGY */

  .pagy {
    @apply flex justify-center text-sm font-semibold divide-x text-content;
    .page {
      a {
        @apply block px-3 py-1 bg-midgray;
        &:hover {
          @apply bg-midgray;
        }
      }
      &.active a {
        @apply cursor-default text-form-input bg-secondary;
      }
      &.disabled a {
        @apply cursor-default bg-midgray text-contour;
      }
      &.gap { }
    }
    .pagy-combo-input, &.pagy-items-selector-js {
      @apply inline-block whitespace-nowrap bg-midgray rounded-lg px-3 py-0.5;
      input {
        @apply border-none rounded-md bg-midgray;
      }
    }
  }
}
