= turbo_stream.update :form, partial: "checkouts/form", locals: { order_intent: @order_intent, shipping_methods: @shipping_methods, shipping_method: @shipping_method, service_points: @service_points }
